DATABASE_URL=postgresql://postgres:password@127.0.0.1:5432/your-db
PAYLOAD_SECRET=YOUR_SECRET_HERE

# ImageKit Configuration
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id
IMAGEKIT_SECRET=private_your_private_api_key
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_your_public_api_key
# Resend Configuration
RESEND_API_KEY=re_your_api_key
NEXT_PUBLIC_FROM_EMAIL=onboarding@resend.dev
NEXT_PUBLIC_FROM_NAME=Prakamp